<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091396025886-ipkhig4cs0thjq0htur0bc4aoej82554.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091396025886-ipkhig4cs0thjq0htur0bc4aoej82554</string>
	<key>API_KEY</key>
	<string>AIzaSyBO29BcKSM_71EraF-iY6De1MGN8I1AOCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1091396025886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.china.ts70</string>
	<key>PROJECT_ID</key>
	<string>ts70-fe81d</string>
	<key>STORAGE_BUCKET</key>
	<string>ts70-fe81d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091396025886:ios:0127e74d180d4205cbf80f</string>
</dict>
</plist>